NODE_ENV=development # [product | development | test]

# Setup database connection
DB_ROOT_PASSWORD=admin_password
DB_HOST=mariadb
DB_NAME=CTAI
DB_USER=admin_user
DB_PASSWORD=admin_password

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="R6rOwj0+dOpfyHtkthKvPML4WON7kCBRDdTQITdhThI="
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:admin_password@mariadb:3306/CTAI"
CVAT_URL="http://192.168.51.200:8080"

# CTAI AI chatbot setting
OPENAI_API_KEY="sk-xxxxxxxx"
# The provider for the AI models to use.
MODEL_PROVIDER=openai

# The name of LLM model to use.
MODEL=gpt-4o

# Name of the embedding model to use.
EMBEDDING_MODEL=text-embedding-3-large

# Dimension of the embedding model to use.
EMBEDDING_DIM=1024